<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357160205497-csh880cjv9k1reu5kltfpdfhmt167l3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357160205497-csh880cjv9k1reu5kltfpdfhmt167l3m</string>
	<key>API_KEY</key>
	<string>AIzaSyBPf8Mw20r9c9JW_i244p20Jyh1GFTZBbo</string>
	<key>GCM_SENDER_ID</key>
	<string>357160205497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SanjayKrishna.Roadgram-MVP</string>
	<key>PROJECT_ID</key>
	<string>roadgram-29bbd</string>
	<key>STORAGE_BUCKET</key>
	<string>roadgram-29bbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357160205497:ios:cddb1336fda3c44eba6f68</string>
</dict>
</plist>